
body {
    background-color: beige;
    color: black;
    font-family: Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}


nav {
    background-color: yellowgreen;
    color: beige;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav li {
    margin: 0;
}
